.grainy
    position: absolute
    z-index: 2
    width: 100%
    top: 0.0005%
    background-image: url("./asset/noise.svg")
    opacity: 0.2
    filter: exposure(150%) contrast(150%)
    z-index: 3
.blackbg 
    height: 100%
    width: 100%
    position: absolute
    top: 0.0005%
    background: radial-gradient(circle at 100% -50%, rgba(238,238,238,0.41) 0%, rgba(72,72,72,0.47) 100%)
.cardbg
    height: 100%
    width: 100%
    position: absolute
    top: 0.0005%
    background: radial-gradient(circle at 150% 1%, rgba(238,238,238,0.41) 0%, rgba(72,72,72,0.47) 100%)
    opacity: 0.5
    border-radius: 32px
